<!DOCTYPE html>
<html	lang="en" xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultrap.net.nz./thymeleaf/layout"
		layout:decorate="layout/base_layout"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


	<th:block layout:fragment="content">
	
		<div style="margin: 0 50px;">
		
			<br>
			
			<h1>권한이 없으므로 접근 불가능합니다..</h1>
			
			<br>
			
			<p th:text="|아 이 디 : ${#authentication.name}|"></p>
			
			<p th:text="|현재권한 : ${#authentication.authorities}|"></p>
			
			
			<br>
			<br>
			<br>
			<br>
			
			
			<!--인증시 사용된 객체에 대한 정보-->
			<b>Authenticated DTO:</b>
			<div sec:authorize="isAuthenticated()" sec:authentication="principal"></div>
			
			<br/>
			<!--인증시 사용된 객체의 Username (ID)-->
			<b>Authenticated username:</b>
			<div sec:authorize="isAuthenticated()" sec:authentication="name"></div>
			
			<br/>
			<!--객체의 권한-->
			<b>Authenticated role:</b>
			<div sec:authorize="isAuthenticated()" sec:authentication="principal.authorities"></div>
			
			
			
		
		</div>
		
	</th:block>
</html>