<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrap.net.nz./thymeleaf/layout"
	  layout:decorate="layout/base_layout">
	  
	  




	<div layout:fragment="content">
	
	
	
		<!-- <script src="https://cdn.jsdelivr.net/highlight.js/9.9.0/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script> -->
		
		<script src="/bootstrap/js/stackedCards.min.js"></script>
		<script src="/bootstrap/js/stackedCards.js"></script>
		
		<link href="/bootstrap/css/stackedCards.css" rel="stylesheet" />
		<link href="/bootstrap/css/stackedCards2.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="/bootstrap/css/highlight.css" rel="stylesheet">
		
		
<!-- ========================================================================================================================================================== -->

		<div class="container-fixed stacked-cards stacked-cards-slide" style="background-color: aqua;">
			<ul>
				<li style="border-radius: 5%">
					<img src="/img/1.jpg" alt="Stacked Cards" style="border-radius: 5%">
				</li>
				<li style="border-radius: 5%">
					<img src="/img/2.jpg" alt="Stacked Cards" style="border-radius: 5%">
				</li>
				<li style="border-radius: 5%">
					<img src="/img/3.jpg" alt="Stacked Cards" style="border-radius: 5%">
				</li>
				<li style="border-radius: 5%">
					<img src="/img/4.jpg" alt="Stacked Cards" style="border-radius: 5%">
				</li>
				<li style="border-radius: 5%">
					<img src="/img/5.jpg" alt="Stacked Cards" style="border-radius: 5%">
				</li>
				<li style="border-radius: 5%">
					<img src="/img/6.jpg" alt="Stacked Cards" style="border-radius: 5%">
				</li>
				<li style="border-radius: 5%">
					<img src="/img/3.jpg" alt="Stacked Cards" style="border-radius: 5%">
				</li>
			</ul>
		</div>
		
<!-- ========================================================================================================================================================== -->
		
		
	</div>
	
</html>
