<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="artistMapper">
	<resultMap type="kh.study.consupport.common.vo.HallVO" id="hall">
		<id column="HALL_CODE" 			property="hallCode"/>
		<result column="HALL_NAME" 			property="hallName"/>
		<result column="HALL_SEAT_CNT" 			property="hallSeatCnt"/>
		<result column="HALL_RENT_PRICE" 			property="hallRentPrice"/>
		<result column="HALL_STATUS" 			property="hallStatus"/>
		<result column="HALL_DETAIL" 			property="hallDetail"/>
		<result column="USER_ID" 			property="userId"/>
	</resultMap>

	<resultMap type="kh.study.consupport.common.vo.GenreVO" id="genre">
		<id column="GENRE_CODE" 			property="genreCode"/>
		<result column="GENRE_NAME" 			property="genreName"/>
	</resultMap>
	
	<select id="hallList" resultMap="hall">
		SELECT HALL_CODE
		    , HALL_NAME
		    , HALL_SEAT_CNT
		    , HALL_RENT_PRICE
		    , USER_ID
		FROM HALL
	</select>
	
	<select id="genreList" resultMap="genre">
		SELECT GENRE_CODE
		, GENRE_NAME
		FROM GENRE
	</select>
	
	<insert id="regConcert">
		<selectKey resultType="String" keyProperty="concertCode" order="BEFORE">
			SELECT 'CONCERT_' || LPAD( NVL( MAX(  TO_NUMBER(SUBSTR(CONCERT_CODE,9))  )+1, 1), 6, '0')
			FROM CONCERT
		</selectKey>
		INSERT INTO CONCERT(
			CONCERT_CODE
            , HALL_CODE 
            , USER_ID 
            , CONCERT_NAME
            , CONCERT_TICKETING_DATE
            , CONCERT_RATED
		) VALUES( 
			#{concertCode}
			, #{hallCode}
            , #{userId}
            , #{concertName}
            , #{concertTicketingDate}
            , #{concertRated} 
		)
	</insert>
	
	<insert id="insertConcertPrice">
		INSERT INTO CONCERT_PRICE(
			CONCERT_CODE
			, CONCERT_PRICE_R
			, CONCERT_PRICE_S
			, CONCERT_PRICE_A
		) VALUES (
			#{concertCode}
			, #{concertPriceR}
			, #{concertPriceS}
			, #{concertPriceA}
		)
	</insert>

	<insert id="insertConcertImg">
		INSERT INTO CONCERT_IMG(
			CONCERT_IMG_CODE
			, CONCERT_IMG_NAME_ORIGIN
			, CONCERT_IMG_NAME_ATTACHED
			, CONCERT_IMG_IS_MAIN
			, CONCERT_CODE
			) 
		<foreach collection="concertImgList" item="concertImg" separator="UNION ALL" index="i">
			SELECT (SELECT 'C_IMG_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(CONCERT_IMG_CODE,7))), 0) + 1 + #{i}, 3, 0) 
					FROM CONCERT_IMG)
				, #{concertImg.concertImgNameOrigin}
				, #{concertImg.concertImgNameAttached}
				, #{concertImg.concertImgIsMain}
				, #{concertImg.concertCode}
			FROM DUAL
		</foreach>
	</insert>
	
	
</mapper>
