<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="ownerMapper">
	
	<select id="getNextHallCode" resultType="String">
		SELECT
			'HALL_' || LPAD( NVL( MAX(  TO_NUMBER(SUBSTR(HALL_CODE,6))  )+1, 1), 6, '0')
		FROM HALL
	</select>
	
	<!-- 홀 등록 -->
	<insert id="insertHall">
		INSERT INTO HALL (
			HALL_CODE
			, HALL_NAME
			, HALL_SEAT_CNT
			, HALL_RENT_PRICE
			, HALL_STATUS
			, HALL_DETAIL
			, USER_ID
		) VALUES(
			#{hallCode}
			, #{hallName}
			, #{hallSeatCnt}
			, #{hallRentPrice}
			, #{hallStatus}
			, #{hallDetail}
			, #{userId}
		)
	</insert>
	<insert id="insertHallDateList">
		INSERT INTO 
			
			
		) VALUES(
			
			
		)
	</insert>
	<insert id="insertHallImgList">
		INSERT INTO 
			
			
		) VALUES(
			
			
		)
	</insert>
	<insert id="insertHallSeat">
		INSERT INTO(
			HALL_CODE
			, HALL_SEAT_R_CNT
			, HALL_SEAT_S_CNT
			, HALL_SEAT_A_CNT
		) VALUES(
			
			
		)
	</insert>
	
	
	
	
	
	
	
	
</mapper>
