<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="qboardMapper">
	
	<resultMap type="kh.study.consupport.common.vo.QboardVO" id="qboard">
		<id column="QBOARD_NUM" 			property="qboardCode"/>
		<result column="QBOARD_TITLE" 		property="qboardTitle"/>
		<result column="QBOARD_CONTENT" 	property="qboardContent"/>
		<result column="USER_ID" 			property="userId"/>
		<result column="QBOARD_CREATE_DATE" property="qboardCreateDate"/>
	
	</resultMap>


	<!-- 문의 입력 -->
	<insert id="insertQboard">
		INSERT INTO QBOARD
			(QBOARD_NUM
			, QBOARD_TITLE
			, QBOARD_CONTENT
			, USER_ID)
		VALUES (
			QBOARD_NUM_SEQ.NEXTVAL
			, #{title}
			, #{content}
			, #{writer}
			)
	</insert>

	






































	
</mapper>
