<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz./thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{layout/base_layout}">
	  
<!--------------------------------------------------------------------------------------------------------------------------------------------------------->

	<div layout:fragment="content">


		<div class="row text-center">
			<div class="col-2"><!-- 건드리지마 --></div>
			
			
				<!-- 내 공연 매출 정보 그래프로 보기(bar) -->
				<div class="col-4">
					<div class="text-start" >
						<h3 style="margin-top:30px;">공연 매출 정보</h3>
					</div>
						<hr>
						<div id="barChart" style="max-width: 100%; margin: 35px auto;"></div>
				</div>
			
			
			
					
				<!-- 내 공연 팔린좌석 그래프로 보기(pie) -->
				<div class="col-4">
					<div class="text-start" >
						<h3 style="margin-top:30px;">판매된 좌석 비율</h3>
					</div>
						<hr>
					<div id="pieChart" style="max-width: 100%; margin: 35px auto;"></div>
				</div>
				
				
				
				
				
				
				
				
			<div class="col-2"><!-- 건드리지마 --></div>
		</div>
		
		
		
		
		
		
		
		
		
		
		
		
		<!--제이쿼리 태그 추가 -->	
		<script src="https://code.jquery.com/jquery-latest.min.js"></script>	
		<!--차트 생성을 위한 태그 추가 -->	
		<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
		<!-- html과 js연결 -->
		<script type="text/javascript" src="/js/artist/income_manager.js"></script>
	</div>
	
<!--------------------------------------------------------------------------------------------------------------------------------------------------------->
	
</html>