<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/base_layout}">



<div layout:fragment="content" style="width: 60%; margin: 30px 20%; align-content: center;" >

	<form name="regQboardForm">

		<input type="hidden" th:value="${#authentication.name}" 
		 id="userId" name="userId">

		<div class="row mb-3">
			
			<label for="qTItle" class="form-label">문의 사항</label> 
			
			<div class="col-4">
				<select class="form-select mb-1" id="selbox" name="selbox">
					<option value="분실물 문의" selected>분실물 문의</option>
					<option value="티켓 오류 문의">티켓 오류 문의</option>
					<th:block th:if="${#strings.contains(#authentication.authorities,'ROLE_ARTIST')}">
						<option value="공연 취소 문의">공연 취소 문의</option>
					</th:block>
					<th:block th:if="${#strings.contains(#authentication.authorities,'ROLE_OWNER')}">
						<option value="홀 계약 중단 문의">홀 계약 중단 문의</option>
					</th:block>
					<option value="1">직접입력</option>
				</select>
			</div>
			<div class="col-8">
				<input type="text" class="form-control mb-1" readonly
				 value="분실물 문의" id="qboardTitle" name="qboardTitle"/>
			</div>
			
			
		</div>
		<div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">문의 내용</label>
			<textarea class="form-control" rows="6px;" cols="140"
				id="qboardContent" name="qboardContent"></textarea>
		</div>

		<div class="d-flex" style="float: right;">
			<div class="form-check me-sm-2">
				<input class="form-check-input" type="checkbox" name="qsecret"
					id="qsecret" value="T"> <label class="form-check-label"
					for="flexCheckChecked"> 비밀글 </label>
			</div>

			<button type="button" onclick="regQboard()" class="btn btn-primary">등록</button>

		</div>
	</form>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" th:src="@{/js/board/regQboard.js}"></script>

</div>
</html>	