<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="ownerMapper">

	<select id="getNextHallCode" resultType="String">
		SELECT
			'HALL_' || LPAD( NVL( MAX( TO_NUMBER(SUBSTR(HALL_CODE,6)) )+1, 1), 6, '0')
		FROM HALL
	</select>

	<!-- 홀 등록 -->
	<insert id="insertHall">
		INSERT INTO HALL(
			HALL_CODE
			, HALL_NAME
			, HALL_SEAT_CNT
			, HALL_RENT_PRICE
			, HALL_DETAIL
			, USER_ID
		) VALUES(
			#{hallCode}
			, #{hallName}
			, #{hallSeatCnt}
			, #{hallRentPrice}
			, #{hallDetail}
			, #{userId}
		)
	</insert>
	<insert id="insertHallDateList">
		INSERT INTO HALL_DATE(
			HALL_DATE_CODE
			, HALL_RENT_DATE
			, HALL_CODE
		)
		<foreach collection="hallRentDateList" item="hallRentDate" separator="UNION ALL" index="i">
			SELECT
				(SELECT 'H_DATE_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(HALL_DATE_CODE, 8))), 0) + 1 + #{i}, 6, 0) FROM HALL_DATE)
				, TO_DATE(#{hallRentDate}, 'YYYY-MM-DD HH24:MI:SS')
				, #{hallCode}
			FROM DUAL
		</foreach>
	</insert>
	<insert id="insertHallImgList">
		INSERT INTO HALL_IMG(
			HALL_IMG_CODE
			, HALL_IMG_NAME_ORIGIN
			, HALL_IMG_NAME_ATTACHED
			, HALL_IMG_IS_MAIN
			, HALL_CODE
		)
		<foreach collection="hallImgList" item="hallImg" separator="UNION ALL" index="i">
			SELECT
				(SELECT 'H_IMG_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(HALL_IMG_CODE, 7))), 0) + 1 + #{i}, 6, 0) FROM HALL_IMG)
				, #{hallImg.hallImgNameOrigin}
				, #{hallImg.hallImgNameAttached}
				, #{hallImg.hallImgIsMain}
				, #{hallCode}
			FROM DUAL
		</foreach>
	</insert>
	<insert id="insertHallSeat">
		INSERT INTO HALL_SEAT(
			HALL_CODE
			
			, HALL_SEAT_R_CNT
			, HALL_SEAT_S_CNT
			, HALL_SEAT_A_CNT
		) VALUES(
			#{hallCode}
			
			<if test="hallSeatCnt == 40">
			,  8
			,  8
			, 24
			</if>
			<if test="hallSeatCnt == 70">
			, 16
			, 22
			, 32
			</if>
			<if test="hallSeatCnt == 100">
			, 24
			, 24
			, 52
			</if>
		)
	</insert>






	
</mapper>
