<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<th:block th:fragment="top">

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary"
		style="width: 100%; height: 5.7rem; padding: 35px 0px;">
		<div class="container-fluid" style="background-color: black;">
			<a class="navbar-brand"
				style="font-family: 'Lobster', cursive; font-size: 4.5rem; margin-left: 30px; padding-bottom: 0px;">CONSUPPORT</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarColor01"
				aria-controls="navbarColor01" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor01">

				<ul class="navbar-nav me-auto">
				</ul>

				<ul class="navbar-nav" style="margin-right: 30px; font-size: 1.5rem">

					<li class="nav-item"></li>

				</ul>
			</div>
		</div>
	</nav>

</th:block>
</html>
