<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="row">


		<form id="regHallForm">
		
			<input name="hallName" type="text" class="form-control">
			
			
		<!-- 	<select></select> -->
			<input name="hallSeatCnt" type="text" class="form-control">
			
			
			<input name="hallRentPrice" type="text" class="form-control">
			<input name="hallDetail" type="text" class="form-control">
		
		
			<label for="" class="form-label">Main Image</label>
			<input type="file" class="form-control" name="imgMain">
			
			<label for="" class="form-label">Sub Images</label>
			<input type="file" class="form-control" name="imgsSub" multiple>
		
		
		</form>
		
		
		

	</div>


	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" th:src="@{/js/owner/reg_hall_form}"></script>
</body>
</html>