

.check input {display: none;}
.check span {display:inline-block;vertical-align:middle;}
.check .icon {width: 20px;height: 20px;background-color: transparent;border: 2px solid #fff;border-radius: 5px;position: relative;cursor: pointer;}
.check .icon::before, .check .icon::after {content:'';display:inline-block;width: 3px;height: 0;background-color: #ff1100;position: absolute;transform-origin:left top;border-radius:5px;}
.check .icon::before {top: 8px;left: 2px;transform: rotate(-45deg);}
.check .icon::after {top: 16px;left: 10px;transform: rotate(-135deg);}

.check input:checked ~ .icon {border-color: #ff1100;}
.check input:checked ~ .icon::before {height: 10px;transition:all .35s ease;}
.check input:checked ~ .icon::after {height: 24px;transition:all .35s ease .35s;}