<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/member_layout}">



<div layout:fragment="content">


<th:block>
	<style>
		.span {
			justify-content: center;
		    align-items: center;
		    display: flex;
		}
	</style>
</th:block>


	<div class="col-12 mt-2" align="center">

		<div class="col-4 mb-3" >
		<h4 >[[${user.UserId}]]님의 정보</h4>
		
			<form name="editInfoForm" method="post">
		
				<input type="hidden" th:value="${user.UserId}" name="userId">
<!-- ----------------------------------------------------------------------- -->
				<fieldset>
					<div class="form-group row">
					
<!-- ----------------------------------------------------------------------- -->
			<!-- 닉네임 -->
			<div >
			
				<div class="row myFormRow mb-3">
				      <label style="text-align: left;" for="userName" class="form-label"> 이름</label>
				      <input type="text" class="form-control" name="userName" th:value="${user.userName}">
				</div>
				
<!-- ----------------------------------------------------------------------- -->

				<div class="row myFormRow mb-3">
					<label style="text-align: left;" for="userName" class="form-label"> 비밀번호 </label>
					<input 	name="userPw"
							class="form-control mb-1"
							type="password"
							placeholder="비밀번호"
							autocomplete="off"
							title="영문 대소문자, 숫자를 포함한 6~16자리"
							required/> 
					
					<input name="userPwChecker" class="form-control" type="password" placeholder="비밀번호 확인" autocomplete="off" required /> 
				</div>
				
				
<!-- ----------------------------------------------------------------------- -->
				<!-- 주소 -->
				<div class="row myFormRow mb-3">
					<label style="text-align: left;" for="userAddr" class="form-label">주소</label>
      				<input type="text" class="form-control" name="userAddr" onclick="searchAddr();" th:value="${user.userAddr}" readonly>
				</div>

				<div class="row myFormRow mb-3">
					<label style="text-align: left;" for="userAddrDetail" class="form-label">상세주소</label>
      				<input type="text" class="form-control" name="userAddrDetail" th:value="${user.userAddrDetail}" >
				</div>
					
<!-- ----------------------------------------------------------------------- -->
			<!-- 전화번호 -->
				<div class="row myFormRow mb-3">
					<label style="text-align: left;" for="userTell" class="form-label">연락처</label>
      				<input type="text" class="form-control" name="userTell" th:value="${user.userTell}" >
				</div>
			</div>	
<!-- ----------------------------------------------------------------------- -->
				
			</div>	
			<br>
			
<!-- ----------------------------------------------------------------------- -->
			<div style="float: right;">
				<button type="button" onclick="edit_Info()" style="margin: 10px;" 
					class="btn btn-primary">확인</button>
			</div>


<!-- ----------------------------------------------------------------------- -->


			</fieldset>
		</form>

<!-- ----------------------------------------------------------------------- -->


		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/js/member/edit_info_form.js}"></script>
	
</div>


</html>	