<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/member_layout}">



<div layout:fragment="content">


<th:block>
	<style>
		.span {
			justify-content: center;
		    align-items: center;
		    display: flex;
		}
	</style>
</th:block>


	<div class="col-12 mt-2" align="center">

		<div class="col-4 mb-3" >
		<h4 >[[${user.UserId}]]님의 정보</h4>
		
			<form action="/member/editInfo" method="post">
		
						<input type="hidden" th:value="${user.UserId}" name="userId">
<!-- ----------------------------------------------------------------------- -->
				<fieldset>
					<div class="form-group row">
					
<!-- ----------------------------------------------------------------------- -->

				<!-- <div class="col-6">
					USER_PW<input type="text" class="form-control" 
					name="artistName" th:value="${user.userPw}">
				</div> -->
				
<!-- ----------------------------------------------------------------------- -->
			<!-- 닉네임 -->
			<div >
			
				<div class="row myFormRow mb-3">
				      <label style="text-align: left;" for="userName" class="form-label"> 이름</label>
				      <input type="text" class="form-control" name="userName" th:value="${user.userName}">
				</div>
				
				
<!-- ----------------------------------------------------------------------- -->
				<!-- 주소 -->
				<div class="row myFormRow mb-3">
					<label style="text-align: left;" for="userAddr" class="form-label">주소</label>
      				<input type="text" class="form-control" name="userAddr" onclick="searchAddr();" th:value="${user.userAddr}" readonly>
				</div>

				<div class="row myFormRow mb-3">
					<label style="text-align: left;" for="userAddrDetail" class="form-label">상세주소</label>
      				<input type="text" class="form-control" name="userAddrDetail" th:value="${user.userAddrDetail}" >
				</div>
					
<!-- ----------------------------------------------------------------------- -->
			<!-- 전화번호 -->
				<div class="row myFormRow mb-3">
					<label style="text-align: left;" for="userTell" class="form-label">연락처</label>
      				<input type="text" class="form-control" name="userTell" th:value="${user.userTell}" >
				</div>
			</div>	
<!-- ----------------------------------------------------------------------- -->
				
			</div>	
			<br>
			
<!-- ----------------------------------------------------------------------- -->
			<div style="float: right;">
				<input class="btn btn-primary btn-lg btn-block" type="submit" 
				value="수정하기">
			</div>


<!-- ----------------------------------------------------------------------- -->


			</fieldset>
		</form>

<!-- ----------------------------------------------------------------------- -->
		</div>
	</div>
</div>
</html>	