<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/member_layout}">



<div layout:fragment="content">


	<div class="col-12">
		<h4 >내 정보 수정</h4>
		<hr>
		<div class="col-6 mb-1">
		
			<form action="/member/editInfo" method="post" enctype="multipart/form-data">
		
<!-- ----------------------------------------------------------------------- -->
				<fieldset>
					<div class="form-group row col-6">
						<th:block class="col-sm-2 col-form-label">[[${user.UserId}]] 님의 정보입니다.</th:block>
						<input type="hidden" th:value="${user.UserId}" name="userId">
					</div>
					<div class="form-group row">
					
<!-- ----------------------------------------------------------------------- -->

				<!-- <div class="col-6">
					USER_PW<input type="text" class="form-control" 
					name="artistName" th:value="${user.userPw}">
				</div> -->
				
<!-- ----------------------------------------------------------------------- -->

				<div class="form-group">
				      <label for="userName" class="form-label mt-2">USER_NAME</label>
				      <input type="text" class="form-control" name="userName" th:value="${user.userName}">
				</div>
					
<!-- ----------------------------------------------------------------------- -->
					
				<div class="form-group">
					<label for="userAddr" class="form-label mt-2">USER_ADDR</label>
      				<input type="text" class="form-control" name="userAddr" th:value="${user.userAddr}" >
					<label for="userAddrDetail" class="form-label mt-2">USER_ADDR_DETAIL</label>
      				<input type="text" class="form-control" name="userAddrDetail" th:value="${user.userAddrDetail}" >
				</div>
					
<!-- ----------------------------------------------------------------------- -->
			
				<div class="form-group">
					<label for="userTell" class="form-label mt-2">USER_TELL</label>
      				<input type="text" class="form-control" name="userTell" th:value="${user.userTell}" >
				</div>
				
<!-- ----------------------------------------------------------------------- -->
					
				<div class="form-group">
					<label for="userMileage" class="form-label mt-2">USER_MILEAGE</label>
      				<input type="hidden" class="form-control" name="userMileage" th:value="${user.userMileage}" >
					<div> [[${user.userMileage}]]</div>
				</div>
			</div>	
<!-- ----------------------------------------------------------------------- -->

			<input class="btn btn-primary btn-lg btn-block" type="submit" value="수정하기">


<!-- ----------------------------------------------------------------------- -->


			</fieldset>
		</form>

<!-- ----------------------------------------------------------------------- -->
		</div>
	</div>
</div>
</html>	