<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz./thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{layout/base_layout}"
	  >
<!--------------------------------------------------------------------------------------------------------------------------------------------------------->

	<div layout:fragment="content">
	
		<div class="col-12">
				<h3>아티스트 등록</h3>
				<hr>
				<div class="col-12 mb-3">
					
<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->


 <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#imgInp").on('change', function(){
                readURL(this);
            });
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }

              reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    
       <!--  <input type='file' id="imgInp" />
        <img id="blah" src="#" alt="your image" /> -->


<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
				
					<form action="/member/regArtist" method="post" enctype="multipart/form-data">
					
					
<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
						
						<div class="col-5">
							메인이미지
        					<img id="blah" src="#" alt="your image" />
							<input type='file' class="form-control" id="imgInp" name="imgMain">
						</div>
						
						
						<div class="col-5">
							서브이미지<input type="file" class="form-control" name="imgsSub" multiple>
						</div>
						
<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->						
						
						<div class="col-6">
							아티스트 명<input type="text" class="form-control" name="artistName">
						</div>
						
<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->						
						
						
						<div class="col-12">
							아티스트디테일<textarea rows="5" cols="50" name="artistDetail" style="resize:none"></textarea>
						</div>
						
						
<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->						
						
						<div class="col-2">
							<button type="submit" class="btn btn-dark">
							몰라
							</button>
						</div>
						
<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->						
						
					</form>
						
						
						
						
						
						

<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->						
						
					
				</div>
		</div>
		
		
		
		
		
		
		
		
		
	</div>
	
<!--------------------------------------------------------------------------------------------------------------------------------------------------------->
	
</html>