.myFormRow {
	margin-top: 2rem;
}

.myHr{
	margin-top: 1.5rem;
	margin-bottom: -0.5rem;
}

/* 
.aaa{
	font-size: 1.5rem;
}

.bbb{
	font-size: 1.2rem;
} */

.transparentDivL{
	border-radius: 2% 0 0 2%;
	padding: 10px;
	background:rgba(0,0,0,0.3);
}

.transparentDivR{
	border-radius: 0 2% 2% 0;
	padding: 10px;
	background:rgba(0,0,0,0.3);
}

.artistMainImgOfRegArtistForm {
	width: 100%;
}

a {
	text-decoration-line: none;
}

img {
    max-width: 100%;
    height: auto;
}



@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'NanumSquareNeo-Variable';
}

