* {
	padding: 0;
	margin: 0;
	
}

input[id="menuicon"] {
	display: none;
}

input[id="menuicon"]+ul {
	display: block;
	position: fixed;
	right: 0;
	top: 90%;
	transform: translateY(-50%);
	transition: all .35s;
	text-align: right;
}

input[id="menuicon"]+ul>li {
	display: block;
	width: 70px;
	height: 70px;
	border: 1px solid #f1f1f1;
	position: relative;
	margin-top: -1px;
	border-radius: 100%;
	margin-right: 30px;
}

input[id="menuicon"]+ul>li>a {
	display: block;
	width: auto;
	height: 50px;
	overflow: hidden;
	transition: all .35s;
}

input[id="menuicon"]+ul>li>label {
	display: block;
	cursor: pointer;
	width: auto;
	height: 50px;
}

input[id="menuicon"]+ul>li:nth-child(1) label span {
	display: block;
	position: absolute;
	width: 50%;
	height: 3px;
	border-radius: 30px;
	background: #333;
	transition: all .35s;
}

input[id="menuicon"]+ul>li:nth-child(1) label span:nth-child(1) {
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
}

input[id="menuicon"]+ul>li:nth-child(1) label span:nth-child(2) {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input[id="menuicon"]+ul>li:nth-child(1) label span:nth-child(3) {
	bottom: 30%;
	left: 50%;
	transform: translateX(-50%);
}

input[id="menuicon"]+ul>li:nth-child(2) a .icon {
	background: url('./img/search.png') center center no-repeat;
	background-size: 50%;
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: middle;
}

input[id="menuicon"]+ul>li:nth-child(3) a .icon {
	background: url('./img/sand-clock.png') center center no-repeat;
	background-size: 50%;
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: middle;
}

input[id="menuicon"]:checked+ul {
	z-index: 2;
	right: 300px;
}

input[id="menuicon"]:checked+ul>li:nth-child(1) label {
	z-index: 2;
	right: 300px;
}

input[id="menuicon"]:checked+ul>li:nth-child(1) label span:nth-child(1)
	{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

input[id="menuicon"]:checked+ul>li:nth-child(1) label span:nth-child(2)
	{
	opacity: 0;
}

input[id="menuicon"]:checked+ul>li:nth-child(1) label span:nth-child(3)
	{
	bottom: 50%;
	left: 50%;
	transform: translate(-50%, 50%) rotate(-45deg);
}

div[class="sidebar"] {
	width: 300px;
	height: 100%;
	position: fixed;
	top: 0;
	right: -300px;
	z-index: 1;
	transition: all .35s;
	background:rgba(0,0,0,0.4);
}

input[id="menuicon"]:checked+ul+div {
	right: 0;
}


































