@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
	box-sizing: border-box;
}

body {
	background-color: #242333;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: "Lato", sans-serif;
	margin: 0;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fontBox {
	font: GmarketSansMedium;
	font-size: 17px;
	margin: 0 0;
	
	height: 32px;
}

.movie-container {
	margin: 20px 0;
}

.movie-container select {
	background-color: #fff;
	border: 0;
	border-radius: 5px;
	font-size: 16px;
	margin-left: 10px;
	padding: 5px 15px 5px 15px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.container {
	perspective: 1000px;
	margin-bottom: 30px;
}



/* 좌석 색. seatR seatS 구분위함. */
.seat {
	background-color: rgb(198, 171, 125);
	height: 26px;
	width: 32px;
	margin: 3px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 0 0;
	text-align: center;
	font-size: 20px;
	color: black;
}
.seatS {
	background-color: #D6E4E5;
}
.seatR {
	background-color: rgb(255, 222, 89);
}
.selected {
	background-color: rgb(238, 34, 4);
}



.seat.sold {
	background-color: #444451;
}

.seat.seat40:nth-of-type(2) {
	margin-right: 18px;
}
.seat.seat40:nth-last-of-type(2) {
	margin-left: 18px;
}

.seat.seat70:nth-of-type(3) {
	margin-right: 18px;
}
.seat.seat70:nth-last-of-type(3) {
	margin-left: 18px;
}

.seat.seat100:nth-of-type(4) {
	margin-right: 18px;
}
.seat.seat100:nth-last-of-type(4) {
	margin-left: 18px;
}

.seat:not(.sold):hover {
	cursor: pointer;
	transform: scale(1.2);
}

.showcase .seat:not(.sold):hover {
	cursor: default;
	transform: scale(1);
}

.showcase {
	background: rgba(0, 0, 0, 0.1);
	padding: 5px 10px;
	border-radius: 5px;
	color: #777;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.showcase li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 10px;
}

.showcase li small {
	margin-left: 2px;
}

.row {
	display: flex;
}

.screen {
	background-color: #fff;
	height: 120px;
	width: 100%;
	margin: 15px 0;
	transform: rotateX(-48deg);
	box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
	margin: 5px 0;
}

p.text span {
	color: rgb(158, 248, 158);
}