@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body
{
	font-family: 'GangwonEdu_OTFBoldA';
}
.viewChat
{
	width: 98%;
	height: 400px;
	border-radius: 5px;
	border-color: grey;
}
.viewChat b{
	word-break:break-all;
	}